
<section class="home-banner">
    <div class="container">
      <ngx-slick-carousel class="home-banner-slider banner-slider" [config]="slideConfig"> 
       <div ngxSlickItem class="home-banner-box">
         <div class="row">
           <div class="col-md-6">
            <div class="home-banner-content">
             <div class="home-banner-heading wow fadeInUp animated" data-wow-delay="0.2s">
              <h2>Make Your Sweet Days</h2>
            </div>
            <div class="home-banner-subheading wow fadeInUp animated" data-wow-delay="0.3s">
              Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.  
              <div style="color: #000">Available sizes are 200 ml and 250 ml</div>
            </div>
          </div>  
        </div>
        <div class="col-md-6"> 
          <div class="home-banner-slider-img wow fadeIn animated" data-wow-delay="0.4s">
            <img src="assets/img/slide1.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
 <div ngxSlickItem class="home-banner-box">
         <div class="row">
           <div class="col-md-6">
            <div class="home-banner-content">
             <div class="home-banner-heading">
              <h2>Make Your Sweet Days</h2>
            </div>
            <div class="home-banner-subheading wow fadeInUp animated" data-wow-delay="0.3s">
              Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.  
              <div style="color: #000">Available sizes are 200 ml and 250 ml</div>
            </div>
          </div>  
        </div>
        <div class="col-md-6"> 
          <div class="home-banner-slider-img">
            <img src="assets/img/slide2.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  <div ngxSlickItem class="home-banner-box">
         <div class="row">
           <div class="col-md-6">
            <div class="home-banner-content">
             <div class="home-banner-heading">
              <h2>Make Your Sweet Days</h2>
            </div>
            <div class="home-banner-subheading wow fadeInUp animated" data-wow-delay="0.3s">
              Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.  
              <div style="color: #000">Available sizes are 200 ml and 250 ml</div>
            </div>
          </div>  
        </div>
        <div class="col-md-6"> 
          <div class="home-banner-slider-img">
            <img src="assets/img/MAIN_BG_2.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div> 
  </ngx-slick-carousel  >   
  </div>
  </section> 
  
  
  <section class="about-sec">
    <div class="about-container">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="about-img wow fadeIn animated" data-wow-delay="0.6s">
              <img src="assets/img/about.png" class="img-responsive">
            </div>
          </div>
          <div class="col-md-7">
            <div class="about-content-area">
              <div class="about-title wow fadeInUp animated" data-wow-delay="0.2s"><span>Everyday</span> Food</div>
              <div class="about-title-heading wow fadeInUp animated" data-wow-delay="0.3s">About Us</div>
              <div class="about-content wow fadeInUp animated" data-wow-delay="0.4s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac. Facilisis sed odio morbi quis commodo odio aenean. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Tempus urna et pharetra pharetra massa massa ultricies mi.</p>
              </div>
              <div class="read-more-btn wow fadeInUp animated" data-wow-delay="0.5s">
                <a href="">
                  <span><i aria-hidden="true" class="fa fa-arrow-right"></i></span>Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="why-choose-sec">
    <div class="why-choose-container">
      <div class="container">
        <div class="about-title text-center wow fadeInUp animated" data-wow-delay="0.3s">Why <span>Everyday</span> Food ?</div>
        <div class="about-title-heading text-center wow fadeInUp animated" data-wow-delay="0.4s">Cause We Qualified</div>
        <div class="why-we-descripion text-center wow fadeInUp animated" data-wow-delay="0.5s">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
  
        <div class="why-choose-box-area">
  
         <div class="why-choose-box">
           <div class="why-choose-box-img wow fadeIn animated" data-wow-delay="0.5s"><img src="assets/img/icon1.png" class="img-responsive"></div>
           <div class="why-choose-box-title wow fadeInUp animated" data-wow-delay="0.6s">Satisfied Customer</div>
           <div class="why-choose-box-description wow fadeInUp animated" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.. </div> 
         </div>
         <div class="why-choose-box">
           <div class="why-choose-box-img wow fadeIn animated" data-wow-delay="0.5s"><img src="assets/img/icon2.png" class="img-responsive"></div>
           <div class="why-choose-box-title wow fadeInUp animated" data-wow-delay="0.6s">Friendly Customer</div>
           <div class="why-choose-box-description wow fadeInUp animated" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.. </div> 
         </div>
  
       </div> 
     </div>
   </div>
  </section>
 
  <section class="juice-crousel-sec">
    <ngx-slick-carousel class="juice-crousel-row juice-slider" [config]="slideConfigJuice" >
      <div ngxSlickItem class="juice-crousel-img">
        <img src="assets/img/show1.jpg" class="img-responsive">
      </div>
      <div ngxSlickItem class="juice-crousel-img">
        <img src="assets/img/show2.jpg" class="img-responsive">
      </div>
      <div ngxSlickItem class="juice-crousel-img">
        <img src="assets/img/show3.jpg" class="img-responsive">
      </div>
      <div ngxSlickItem class="juice-crousel-img">
        <img src="assets/img/show4.jpg" class="img-responsive">
      </div>
      <div ngxSlickItem class="juice-crousel-img">
        <img src="assets/img/show1.jpg" class="img-responsive">
      </div>
    </ngx-slick-carousel>
  </section> 

  <section class="featured-product">
    <div class="container">
      <div class="featured-product-continer">
        <div class="about-title text-center  wow fadeInUp animated" data-wow-delay="0.3s">Featured Product</div>
        <div class="about-title-heading text-center  wow fadeInUp animated" data-wow-delay="0.4s">Taste Your Favourite</div>
        <div class="why-we-descripion text-center  wow fadeInUp animated" data-wow-delay="0.5s">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
  
        <ngx-slick-carousel class="featured-product-row product-slider" [config]="slideConfigProduct" >
          <div ngxSlickItem class="featured-product-box">
            <div class="featured-product-box-img"><img src="assets/img/Anar_mock.png" class="img-responsive"></div>
            <div class="featured-product-box-detail">
             <div class="featured-product-name">Anar Juice</div> 
             <div class="featured-product-Price">200ml || 250ml</div> 
             <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
           </div>
         </div>
         <div ngxSlickItem class="featured-product-box">
          <div class="featured-product-box-img"><img src="assets/img/Apple_mock.png" class="img-responsive"></div>
          <div class="featured-product-box-detail">
           <div class="featured-product-name">Apple Juice</div> 
           <div class="featured-product-Price">200ml || 250ml</div> 
           <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
         </div>
       </div>
       <div ngxSlickItem class="featured-product-box">
        <div class="featured-product-box-img"><img src="assets/img/Mango_Mock.png" class="img-responsive"></div>
        <div class="featured-product-box-detail">
         <div class="featured-product-name">Mango Juice</div> 
         <div class="featured-product-Price">200ml || 250ml</div> 
         <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
       </div>
     </div>
     <div ngxSlickItem class="featured-product-box">
      <div class="featured-product-box-img"><img src="assets/img/mixed_fruit_mock.png" class="img-responsive"></div>
      <div class="featured-product-box-detail">
       <div class="featured-product-name">Mixed Fruit Juice</div> 
       <div class="featured-product-Price">200ml || 250ml</div> 
       <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
     </div>
   </div>
  
   <div ngxSlickItem class="featured-product-box">
    <div class="featured-product-box-img"><img src="assets/img/Orange_mock.png" class="img-responsive"></div>
    <div class="featured-product-box-detail">
     <div class="featured-product-name">Orange Fruit Juice</div> 
     <div class="featured-product-Price">200ml || 250ml</div> 
     <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
   </div>
  </div>
  <div ngxSlickItem class="featured-product-box">
    <div class="featured-product-box-img"><img src="assets/img/Ornage_Mango_Mock.png" class="img-responsive"></div>
    <div class="featured-product-box-detail">
     <div class="featured-product-name">Orange Mango Fruit Juice</div> 
     <div class="featured-product-Price">200ml || 250ml</div> 
     <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
   </div>
  </div>
  <div ngxSlickItem class="featured-product-box">
    <div class="featured-product-box-img"><img src="assets/img/rED_GRAPES_mock.png" class="img-responsive"></div>
    <div class="featured-product-box-detail">
     <div class="featured-product-name">Red Grapes Juice</div> 
     <div class="featured-product-Price">200ml || 250ml</div> 
     <div class="featured-product-content">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div> 
   </div>
  </div>
  
  </ngx-slick-carousel>    
  </div>
  </div>
  </section>
  
  <section class="testimonail-sec">
    <div class="container">
      <div class="testimonail-container">
        <div class="row">
          <div class="col-md-6">
            <div class="testimonail-left-area">
              <div class="testimonail-title about-title  wow fadeInUp animated" data-wow-delay="0.3s">Testimonial</div>
              <div class="testimonail-heading about-title-heading  wow fadeInUp animated" data-wow-delay="0.4s">
                What Our Customer Says
              </div>
              <div class="testimonail-description why-we-descripion  wow fadeInUp animated" data-wow-delay="0.5s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
              <div class="testimonail-contact-buton read-more-btn wow fadeInUp animated" data-wow-delay="0.6s"><a href="#"><span></span>contact Us</a></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial-right-area  wow fadeIn animated" data-wow-delay="0.3s">
              <ngx-slick-carousel class="testimonial-sider " [config]="slideConfigTestimonial">
              <div ngxSlickItem class="testimonial-box ">
                <div class="testimonial-img"><img src="assets/img/test1.jpg" class="img-responsive"></div>
                <div class="testimonial-name">Kalia Janet</div>
                <div class="testimonial-post">Pastry Chef</div>
                <div class="testimonial-slider-description">
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                </div>
              </div>
             <div ngxSlickItem class="testimonial-box">
                <div class="testimonial-img"><img src="assets/img/test2.jpg" class="img-responsive"></div>
                <div class="testimonial-name">Kalia Janet</div>
                <div class="testimonial-post">Pastry Chef</div>
                <div class="testimonial-slider-description">
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                </div>
              </div>
              <div ngxSlickItem class="testimonial-box">
                <div class="testimonial-img"><img src="assets/img/test3.jpg" class="img-responsive"></div>
                <div class="testimonial-name">Kalia Janet</div>
                <div class="testimonial-post">Pastry Chef</div>
                <div class="testimonial-slider-description">
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                </div>
              </div> 
            </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="work-withus-sec">
    <div class="container">
      <div class="work-withus-container">
        <div class="row">
          <div class="col-md-6">
            <div class="work-withus-box">
              <div class="work-withus-img  wow fadeIn animated" data-wow-delay="0.4s"><img src="assets/img/partner.png" class="img-responsive"></div>
              <div class="work-withus-title  wow fadeInUp animated" data-wow-delay="0.4s">Become A Distributor</div>
              <div class="work-withus-description  wow fadeInUp animated" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labnore et dolore magna aliqua. </div>
              <div class="work-withus-lernmore  wow fadeInUp animated" data-wow-delay="0.6s"><a href="">Learn More</a></div>      
            </div>  
          </div>
          <div class="col-md-6">
            <div class="work-withus-box">
              <div class="work-withus-img  wow fadeIn animated" data-wow-delay="0.4s"><img src="assets/img/work-with-us.png" class="img-responsive"></div>
              <div class="work-withus-title  wow fadeInUp animated" data-wow-delay="0.4s">Become A Dealer</div>
              <div class="work-withus-description  wow fadeInUp animated" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labnore et dolore magna aliqua. </div>
              <div class="work-withus-lernmore  wow fadeIn animated" data-wow-delay="0.6s"><a href="">Learn More</a></div>      
            </div>  
          </div>
  
        </div>
      </div>
    </div>
  </section>
  