<nav class="navbar navbar-expand-lg  navbar-dark  wow fadeInDown white" data-wow-delay="0.4s">
    <div class="container">
   <a class="navbar-brand" href="#" style="color: black;">Logo</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link" href="#"><span><i class="fa fa-home" aria-hidden="true"></i></span> Home</a>
       </li>
       <li class="nav-item ml-md-3">
         <a class="nav-link" href="#"><span><i class="fa fa-home" aria-hidden="true"></i></span> About</a>
       </li>
       <li class="nav-item ml-md-3">
         <a class="nav-link" href="#"><span><i class="fa fa-home" aria-hidden="true"></i></span> Career</a>
       </li> 
       <li class="nav-item ml-md-3">
         <a class="nav-link" href="#"><span><i class="fa fa-home" aria-hidden="true"></i></span> Contact</a>
       </li>  
      
       
     </ul>
  </div> 
 </div>
</nav> 