
<section class="home-banner about-banner-sec">
  
    <div class="about-banner">
      <img src="assets/img/about-banner.jpg" class="img-responsive">
      <div class="inner-banner-heading"><h3>Contact.</h3></div>
    </div>  

</section> 


<section class="about-sec about-inner-sec">
  <div class="about-container">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="about-img wow fadeIn animated" data-wow-delay="0.6s">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.812804554845!2d67.03168681447701!3d24.83607455235218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33dc5832be7bb%3A0xfed2c51f6b01fdc9!2sGlass%20Tower%20Street%2C%20Karachi%2C%20Karachi%20City%2C%20Sindh%2075600%2C%20Pakistan!5e0!3m2!1sen!2s!4v1610821643550!5m2!1sen!2s" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
        <div class="col-md-7">
          <div class="contact-info-area">
              <div class="contact-info-box">
                <div class="contact-info-icon"><img src="assets/img/address-icon.jpg" class="img-responsive"></div>
                <div class="contact-info-title">Address</div>
                <div class="contact-info-description">Office # 210, 2nd Floor, glass tower, near 3 swords, clifton block 7, karachi, sindh</div>
              </div>
              <div class="contact-info-box">
                <div class="contact-info-icon"><img src="assets/img/phone-icon.jpg" class="img-responsive"></div>
                <div class="contact-info-title">Contact Us</div>
                <div class="contact-info-description"><span>Phone: 021-37248841</span><span>Mobile: +92-(310)-0004418</span></div>
              </div>
              <div class="contact-info-box">
                <div class="contact-info-icon"><img src="assets/img/email-icon.jpg" class="img-responsive"></div>
                <div class="contact-info-title">E-Mail</div>
                <div class="contact-info-description"><a href="">info@everydayfood.com.pk</a></div>
              </div>
              <div class="contact-info-box">
                <div class="contact-info-icon"><img src="assets/img/web-icon.jpg" class="img-responsive"></div>
                <div class="contact-info-title">Website</div>
                <div class="contact-info-description"><a href=""> www.everydayfood.com.pk</a></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>