<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="testimonial-row">
                <ngx-slick-carousel class="testimonial-slider"  [config]="testimmonialconfig" >
                <div ngxSlickItem class="testimonial-box ">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                <div ngxSlickItem class="testimonial-box">
                    <div class="testionial-img">
                        <img src="assets/img/T-1.jpg">  
                    </div>
                    <div class="testimonial-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi, repellendus autem cum necessitatibus quae quia molestiae voluptatibus ea numquam doloribus iure incidunt quidem accusamus quam animi distinctio eum adipisci?
                    </div>
                </div>
                </ngx-slick-carousel>
            </div>
        </div>
        </div>
    </div>
</div>