
  <section class="home-banner about-banner-sec">

    <div class="about-banner">
      <img src="assets/img/about-banner.jpg" class="img-responsive">
      <div class="inner-banner-heading">
        <h3>About Us.</h3>
      </div>
    </div>

  </section>


  <section class="about-sec about-inner-sec">
    <div class="about-container">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="about-img wow fadeIn animated" data-wow-delay="0.6s">
              <img src="assets/img/about-img.jpg" class="img-responsive">
            </div>
          </div>
          <div class="col-md-7">
            <div class="about-content-area">
              <div class="about-title wow fadeInUp animated" data-wow-delay="0.2s"><span>Welcome to</span> </div>
              <div class="about-title-heading wow fadeInUp animated" data-wow-delay="0.3s">EverydayFood Industries</div>
              <div class="about-content wow fadeInUp animated" data-wow-delay="0.4s">
                <p>We are the Everyday Food Industries Pvt Ltd. But we’re really about more than healthy juices. We’re
                  ready to take on the world. To make you feel glorious. Everydayfood Industries Pvt Ltd was created by
                  a team who is passionate about their health and committed to making fresh, clean and simply delicious
                  products.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>