
<section class="home-banner about-banner-sec">
  
    <div class="about-banner">
      <img src="assets/img/about-banner.jpg" class="img-responsive">
      <div class="inner-banner-heading"><h3>Products.</h3></div>
    </div>  

</section> 


<section class="about-sec about-inner-sec">
  <div class="about-container">
    <div class="container">
     <div class="products-heading">Our Products</div>
     <div class="products-subheading">Experience our versitile line of products from Mr Juicy and Chota Sultan.</div>
     <div class="products-info-box">
     <div class="row">
        <div class="col-md-5">
          <div class="products-img">
            <img src="assets/img/product101.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-7">
            <div class="products-title">Mr Juicy [Mango]</div>
            <div class="products-description">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div>
            <div class="products-size-title">Available in Sizes:</div>
            <div class="products-size">200ml || 250ml</div>
        </div>
        </div>
     </div>
     <div class="products-info-box">
     <div class="row">
        
        <div class="col-md-7">
            <div class="products-title">Mr Juicy [Orange Mango]</div>
            <div class="products-description">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div>
            <div class="products-size-title">Available in Sizes:</div>
            <div class="products-size">200ml || 250ml</div>
        </div>
        <div class="col-md-5">
          <div class="products-img">
            <img src="assets/img/2_Orange_mango_Pack_render22.png" class="img-responsive">
          </div>
        </div>
        </div>
     </div>
     <div class="products-info-box">
     <div class="row">
        <div class="col-md-5">
          <div class="products-img">
            <img src="assets/img/3_Apple_Pack_Render21.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-7">
            <div class="products-title">Mr Juicy [Apple]</div>
            <div class="products-description">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div>
            <div class="products-size-title">Available in Sizes:</div>
            <div class="products-size">200ml || 250ml</div>
        </div>
        </div>
     </div>
     <div class="products-info-box">
     <div class="row">
     <div class="col-md-7">
            <div class="products-title">Mr Juicy [Mixed Fruit]</div>
            <div class="products-description">Our Juices are made from fresh fruits and extracts giving your tastebuds the purest experience and you body a healthy Kick.</div>
            <div class="products-size-title">Available in Sizes:</div>
            <div class="products-size">200ml || 250ml</div>
        </div>
        <div class="col-md-5">
          <div class="products-img">
            <img src="assets/img/4_Mixedfruit_transparent1.png" class="img-responsive">
          </div>
        </div>
        
        </div>
     </div>
    </div>
  </div>
</section>